/** portal-news stylesheet **/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: auto;
    background-color: #F0F7D4;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-12 {
    width: 100%;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #092834;
    letter-spacing: 1px;
}
.navbar .margin-right {
    margin-right: auto;
}
.navbar .nav-item.logo:hover {
    background-color: #092834;
    color: #B2D732;
}
.navbar > div .nav-item,
.navbar > div .nav-item:visited,
.navbar > div .nav-item:focus {
    color: #F0F7D4;
    text-decoration: none;
    padding: 20px 30px;
}
.navbar > div .nav-item:hover,
.navbar > div .nav-item:focus {
    background-color: #F0F7D4;
    color: #092834;
}
.content {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.boxform {
    padding: 24px;
    display: flex;
    justify-content: center;
}
.contato-form {
    background-color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.contato-form .title-contato {
    padding: 10px;
    text-align: center;
    margin-bottom: 12px;
}
.title-contato, .label {
    color: #092834;
}
.form-input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: vertical;
}
.btn-send {
    border: none;
    display: block;
    width: 100%;
    background-color: #092834;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    cursor: pointer;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:1px solid #092834;
    background-color: #092834;
    width: 100%;
    padding: 20px;
}
footer p {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
    color: #b2d732;
    letter-spacing: 1px;
}
/** html responsive **/
