/** portal-news stylesheet **/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: #F0F7D4;
    padding: 5% 15%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-12 {
    width: 100%;
}
.col-9 {
    width: 75%;
}
.col-4 {
    width: 33.33%;
    float: left;
}
.col-6 {
    width: 50%;
    float: left;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #092834;
    letter-spacing: 1px;
    border-style: none;
}
.navbar .margin-right {
    margin-right: auto;
}
.navbar .nav-item,
.navbar .nav-item:visited,
.navbar .nav-item:focus {
    color: #F0F7D4;
    text-decoration: none;
    padding: 25px 30px;
    font-weight: 500;
}
.navbar .nav-item.logo:hover,
.navbar .nav-item:hover,
.navbar .nav-item:focus {
    color: #B2D732;
}
.sidepanel {
    height: 100vh; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: -460px;
    border:1px solid #092834;
    background-color: #092834;
    overflow: hidden; 
    padding-top: 60px; 
    transition: 0.6s ease;
}
.sidepanel .side-item {
    display: block;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    text-decoration: none;
    color: #f1f1f1;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 5px 40px 5px 30px;
    line-height: 30px;
    position: relative;
}
.sidepanel .side-item:hover {
    color: #b2d732;
}
.sidepanel .closebtn {
    position: absolute;
    text-decoration: none;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #b2d732;
}
.content {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
/** Home **/
.noticias #header-news-main h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    color: #092834;
    margin: 20px;
}
.noticias #header-news-main p {
    margin: 0 20px;
    font-size: 1rem;
}
.noticia1 h2,
.noticia2 h2,
.noticia3 h2,
.noticia4 h2,
.noticia5 h2,
.noticia6 h2 {
    margin: 10px 20px 5px 20px;
    font-size: 1.6rem;
    color: #092834;
}
.noticias .noticia1 .box-text-img,
.noticias .noticia2 .box-text-img,
.noticias .noticia3 .box-text-img,
.noticias .noticia4 .box-text-img,
.noticias .noticia5 .box-text-img,
.noticias .noticia6 .box-text-img {
    background-color: #777;
    margin: 0 20px;
    position: relative;
    width: auto;
}
.noticia1 .text-img-news,
.noticia2 .text-img-news,
.noticia3 .text-img-news,
.noticia4 .text-img-news,
.noticia5 .text-img-news,
.noticia6 .text-img-news {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
.text-img-news p {
    font-size: 1rem;
    color: #fff;
    text-align: justify;
    letter-spacing: 1px;
}
.box-text-img .news-img-responsive {
    width: 100%;
    height: auto;
}
.noticias .noticia1 .links,
.noticias .noticia2 .links,
.noticias .noticia3 .links,
.noticias .noticia4 .links,
.noticias .noticia5 .links,
.noticias .noticia6 .links  {
    background-color: rgb(9, 40, 52);
    border-style: none;
    border-radius: 3px;
    color: #b2d732;
    display: block;
    padding: 8px 8px; 
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
}
#corpoNoticia1,
#corpoNoticia2,
#corpoNoticia3,
#corpoNoticia4,
#corpoNoticia5,
#corpoNoticia6 {
    display: none;
    margin: 10px 20px;
    border: 1px solid rgba(9, 40, 52, 0.2);
}
#corpoNoticia1 > p, 
#corpoNoticia2 > p,
#corpoNoticia3 > p,
#corpoNoticia4 > p,
#corpoNoticia5 > p,
#corpoNoticia6 > p {
    text-indent: 30px;
    text-align: justify;
    margin: 10px;
}
.box-video-news {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /** 4:3 **/
}
.iframe-responsive-news {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/** Contato **/
.boxform {
    padding: 24px;
    display: flex;
    justify-content: center;
}
.contato-form {
    background-color: white;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}
.contato-form .title-contato {
    padding: 10px;
    text-align: center;
    margin-bottom: 12px;
    font-size: 1.8rem;
}
.title-contato, .label {
    color: #092834;
    font-weight: 300;
    font-size: 0.9rem;
}
.form-input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 12px;
    resize: vertical;
}
.btn-send {
    border: none;
    display: block;
    width: 100%;
    background-color: #092834;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.btn-send:hover {
    color: #B2D732;
    background-color: #0B2F3D;
}
.navbar .sideicon {
    display: none;
    color: #F0F7D4;
    text-decoration: none;
    padding: 20px 30px;
    font-weight: 500;
}
/** Sobre **/
.title-sobre h1 {
    font-size: 1.8rem;
    color: #0B2F3D;
    margin: 20px 0;
    text-align: left;
}
.title-sobre p {
    margin: 20px 0;
    text-align: left;
    letter-spacing: 1px;
    font-size: 1rem;
}
.container-sobre {
    display: flex;
    flex-direction: row;
}
.card-sobre {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #f1f1f1;
    transition: 0.3s;
}
.card-sobre:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.resposive-img-sobre {
    width: 100%;
    height: auto;
}
.box-img-sobre {
    margin: 0 8px;
}
.box-img-sobre > p {
    text-align: justify;
    margin: 10px 0;
}
.box-img-sobre > h2 {
    color: #0B2F3D;
    font-size: 1.5rem;
    margin: 5px 0;
}
.box-img-sobre .btn-sobre,
.box-img-sobre .btn-sobre:focus {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: #0a66c2;
    color: #f1f1f1;
    display: block;
    letter-spacing: 1px;
    width: 100%;
    
}
.box-img-sobre .btn-sobre:hover{
    background-color: #0959aa;
    transition: 0.6s ease;
    color: white;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #092834;
}
/* main {
   display: flex;
   flex-direction: column;
   padding: 3% 17%;
} */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:1px solid #092834;
    background-color: #092834;
    width: 100%;
    padding: 20px;
}
footer p {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
    color: #b2d732;
    letter-spacing: 1px;
}

/** html responsive **/
/** navbar e sidepanel **/
@media screen and (max-width: 768px) {
    .navbar .nav-item:not(.margin-right.nav-item.logo) {
        display: none;
    }
    .navbar .sideicon {
        display: block;
        position: absolute;
        right: 0;
    }
    .navbar .sideicon:hover {
        color: #B2D732;
    }  
}
/** footer **/
@media screen and (max-width: 575px) {
    footer p {
        font-size: 1rem;
        padding: 8px;
        margin: 8px;
    }
}
/** Home **/
@media screen and (max-width: 992px) {
    .noticia1 .text-img-news, 
    .noticia2 .text-img-news, 
    .noticia3 .text-img-news, 
    .noticia4 .text-img-news, 
    .noticia5 .text-img-news, 
    .noticia6 .text-img-news {padding: 8px;}
    .text-img-news p {font-size: 0.9rem;}
}
@media screen and (max-width:600px){
    .text-img-news p {font-size: 0.8rem;}
    .noticia1 h2, .noticia2 h2, .noticia3 h2, 
    .noticia4 h2, .noticia5 h2, .noticia6 h2 {font-size: 1.5rem;}
}

/** Sobre nós **/
@media screen and (max-width: 992px) {
    .container {padding: 5% 10%;}
}
@media screen and (max-width: 768px) {
    .container {padding: 5% 7%;}
}
@media screen and (max-width: 700px) {
    .col-6 {width: 100%}
}